/* File: src/components/ContactPage.css */

/* Name input field adjustments */
.form-control {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in-out;
}

.form-label {
  font-size: 1rem;
}

.form-control:focus {
  background-color: #fff;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}

.lead {
  font-family: 'Aptos Display', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 30px;
  text-align: center;
}

.text-center {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}

/* Add a line beneath the h2 text */
.text-center::after {
  content: "";
  position: absolute;
  bottom: -10px;  /* Distance from the text */
  left: 0;
  width: 100%;  /* Make the line as wide as the text */
  height: 3px;
  background-color: #4a90e2; /* Line color */
}

.btn-ab {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #4a90e2;
  color: #ffffff;
  border-radius: 50px;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.btn-ab:hover {
  background-color: #4a90e2; 
  color: #000000;
  border-color: #d1ecf1;
  transform: translateY(-5px);
}

/* Success message style */
.alert-info {
  text-align: center;
  font-weight: bold;
  color: #4a90e2;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

/* Error message style */
.alert-danger {
  text-align: center;
  font-weight: bold;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.contact-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-page-form {
  flex-grow: 1; /* This will ensure the form container grows and takes available space */
}

/* Adjust any extra margins or paddings */
.contact-page-container .form-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Optional: Set padding for content */
.container.my-5 {
  padding-bottom: 50px; /* Ensure there's no large space at the bottom */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}